#container {
	margin: 20px auto;
	border: 5px solid #F65;
	background-color: #FFF;
}

#buttonContainer {
	text-align: center;
}

button {
	margin: 0 auto;
	padding: 10px 19px;
	border: 2px solid white;
	font-size: 10pt;
	background-color: #5050FF;
	font-weight: bold;
	color: white;
}

button:hover {
	background-color: #7070FF;
}

.selected:hover {
	background-color: #3030FF;
	border: 2px solid #BBB;
}

button.selectable:active {
	background-color: #3030FF;
	border: 2px solid #BBB;
}

.selected {
	background-color: #3030FF;
	border: 2px solid #BBB;
}

*:focus {
	outline: none;
}

body {
	background-color: #444;
}

.row {
	display:block;
}

.cell {
	float: left;
	background-color: #111;
	opacity: 0.1;
}